<p id="notice"><%= notice %></p>

<p>
  <strong>Username:</strong>
  <%= @auther.username %>
</p>

<p>
  <strong>Email:</strong>
  <%= @auther.email %>
</p>


<%= link_to 'Edit', edit_auther_path(@auther) %> |
<%= link_to 'Back', authers_path %>
